    <div id="footer" role="contentinfo">
      <div id="colophon">
        <div id="footer-widget-area" role="complementary">
          <div id="second" class="widget-area">
            <ul class="xoxo">
              <li id="linkcat-3" class="widget-container widget_links">
                <h3 class="widget-title">Support</h3>
                <ul class='xoxo blogroll'>
                  <li><a href="{{site.baseurl}}/faq/" title="FAQ">FAQ</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <!-- #second .widget-area -->
          <div id="third" class="widget-area">
            <ul class="xoxo">
              <li id="text-3" class="widget-container widget_text">
                <h3 class="widget-title">AllYourTexts Software</h3>
                <div class="textwidget">New York, NY</div>
              </li>
            </ul>
          </div>
          <!-- #third .widget-area -->
          <div id="fourth" class="widget-area">
            <ul class="xoxo">
              <li id="text-4" class="widget-container widget_text">
                <div class="textwidget"><span>AllYourTexts Software &copy; 2015</span> | <a href="{{site.baseurl}}/privacy-policy/">Privacy Policy</a><br/>
                  <a href="https://www.facebook.com/AllYourTexts" onclick="_gaq.push(['_trackEvent', 'outbound-widget', 'https://www.facebook.com/AllYourTexts', '']);" target="_blank"><img src="{{site.baseurl}}/find-us-on-facebook_logo.gif" style="padding-top:18px; width: 170px;" /></a>
                </div>
              </li>
            </ul>
          </div>
          <!-- #fourth .widget-area -->
        </div>
        <!-- #footer-widget-area -->
      </div>
      <!-- #colophon -->
    </div>
    <!-- #footer -->